<!-- BANNER SECTION STARTS -->
<!-- <div class="card club-widget-appointment banner-area" *ngIf="allowAdvertisment == 0 && bannerData?.length> 0">
    <div class="all-news-column">
      
        <owl-carousel-o [options]="sliderOptions">
            <ng-template carouselSlide *ngFor="let item of bannerData; let i=index">
                <div class="news-widget com-g-widget">
                    <a [href]="item.redirectLink" target="_blank" (click)="onClickBanner(item.id)">
                        <div class="news-image" [ngClass]="item.image == null ?'no_image' : ''">
                            <img onContextMenu="return false;" [src]="item.image!= null? item.image: '../../assets/img/no_image.png'"
                                alt="{{item.bannerName }}" loading="lazy" />
                        </div>
                        <div class="news-content">
                            <div class="car-badge">
                                <span class="carousel-badge-2 two">{{language.banner.advertisment}}</span>
                            </div>
                            <h5
                                [innerHTML]="item.bannerName.length> 0 ?(item.bannerName | slice : 0 : 30) + '...' : item.bannerName">
                            </h5>
                            <p
                                [innerHTML]="item.description.length> 0 ?(item.description | slice : 0 : 30) + '...' : item.description">
                            </p>
                        </div>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</div> -->
<!-- BANNER SECTION ENDS -->


<div class="card club-widget-appointment main-club"
    [ngClass]="checkBanner == true? 'active-club-appointment': 'not-active-club-appointment'">
    <div class="card-header">
        <h5 class="card-title" *ngIf="headline_word_option == 0">Club Appointments</h5>
        <h5 class="card-title" *ngIf="headline_word_option == 1">Company appointments</h5>
    </div>
    <div *ngIf="participateAccess.appointments == 'Yes'">
        <div class="card-body">
            <div class="club-widget-main" *ngIf="(events && events.length> 0) ||(allCourses && allCourses.length > 0)">
                <div class="club-widget-inner" *ngFor="let item of currentEvent;let i= index">
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf=" item.type == '1' || item.type == '3' || item.type == '5' ">
                        <div class="club-widget-item-inner event-simple">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">
                                <div class="club-widget-des-inner">
                                    <div class="club-left-area">
                                        <div class="club-category"> Event </div>
                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;" [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf=" item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;" [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                        <span class="club-schedule">{{ item.date_from | date : "d. MMMM y"}}</span>
                                        <h5 *ngIf=" item && item.isCourse == true" (click)="courseDetails(item.id,item.date_from)"> {{ item.name }}
                                        </h5>
                                        <h5 *ngIf="item && item.isCourse == false" (click)="eventDetails(item.id,item.date_from)">  {{ item.name }}
                                        </h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm" }} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf="item.type == '2'">
                        <div class="club-widget-item-inner event-groups">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">
                                <div class="club-widget-des-inner">
                                    <div class="club-left-area">
                                        <div class="club-category">
                                            Group
                                    </div>
                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;" [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf="item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id,item.date_from)">
                                            <img onContextMenu="return false;" [src]="item.picture_video? item.picture_video:'../../../../assets/img/new-design/dashboard/group-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                        <span class="club-schedule">{{item.date_from | date : " d. MMMM y"}}</span>
                                        <h5 *ngIf="item && item.isCourse == true"(click)="courseDetails(item.id,item.date_from)"> {{ item.name }}  </h5>
                                        <h5 *ngIf="item && item.isCourse == false" (click)="eventDetails(item.id,item.date_from)"> {{ item.name }} </h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm"}} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf="item.type == '4'">
                        <div class="club-widget-item-inner event-tickets">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">
                                <div class="club-box-outer">

                                    <div class="club-left-area">
                                        <div class="club-category">TICKET</div>

                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;" [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf=" item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id,item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video ? item.picture_video :'../../../../assets/img/new-design/dashboard/ticket-img.png'"
                                                alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                        <span class="club-schedule">{{ item.date_from | date : "d. MMMM y" }}</span>
                                        <h5 *ngIf="item && item.isCourse == true" (click)="courseDetails(item.id,item.date_from)"> {{ item.name }} </h5>
                                        <h5 *ngIf="item && item.isCourse == false" (click)="eventDetails(item.id,item.date_from)"> {{ item.name }}</h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm"}} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                </div>
                <div class="club-widget-inner" *ngFor="let item of upcomingEvent; let i= index">
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf=" item.type == '1' || item.type == '3' || item.type == '5' ">
                        <div class="club-widget-item-inner event-simple">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">
                                <div class="club-widget-des-inner">
                                    <div class="club-left-area">
                                        <div class="club-category">
                                            Event
                                    </div>
                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf=" item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id,item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video ? item.picture_video : '../../../../assets/img/new-design/dashboard/event-img.png'"
                                                alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                         <span class="club-schedule">{{ item.date_from | date : "d. MMMM y"}}</span>
                                        <h5 *ngIf="item && item.isCourse == true"  (click)="courseDetails(item.id,item.date_from)">  {{ item.name }} </h5>
                                        <h5 *ngIf="item && item.isCourse == false" (click)="eventDetails(item.id,item.date_from)"> {{ item.name }}</h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm"}} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf="item.type == '2'">
                        <div class="club-widget-item-inner event-groups">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">


                                <div class="club-widget-des-inner">
                                    <div class="club-left-area">
                                         <div class="club-category">
                                        Group
                                    </div>
                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf=" item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id,item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video ? item.picture_video : '../../../../assets/img/new-design/dashboard/group-img.png'"
                                                alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                          <span class="club-schedule">{{item.date_from | date : "d. MMMM y"}}</span>
                                        <h5 *ngIf="item && item.isCourse == true "
                                            (click)="courseDetails(item.id,item.date_from)">
                                            {{ item.name }}
                                        </h5>
                                        <h5 *ngIf="item && item.isCourse == false"
                                            (click)="eventDetails(item.id,item.date_from)">
                                            {{ item.name }}
                                        </h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm"}} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="club-widget-item" *ngIf="item.type == '4'">
                        <div class="club-widget-item-inner event-tickets">
                            <div class="club-time-line">
                                <span class="club-badge"></span>
                            </div>
                            <div class="club-widget-description">
                                <div class="club-widget-des-inner">
                                    <div class="club-left-area">
                                        <div class="club-category">
                                            TICKET
                                        </div>
                                        <div *ngIf=" item && item.isCourse == true" class="club-w-image" (click)="courseDetails(item.id, item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video? item.picture_video :'../../../../assets/img/new-design/dashboard/event-img.png'
                                                " alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                        <div *ngIf=" item && item.isCourse == false" class="club-w-image" (click)="eventDetails(item.id,item.date_from)">
                                            <img onContextMenu="return false;"
                                                [src]="item.picture_video ? item.picture_video :'../../../../assets/img/new-design/dashboard/ticket-img.png'"
                                                alt="{{ item.name }}" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="club-right-area">
                                        <span class="club-schedule">{{item.date_from | date : "d. MMMM y"}}</span>
                                        <h5 *ngIf="item && item.isCourse == true" (click)="courseDetails(item.id,item.date_from)"> {{ item.name }} </h5>
                                        <h5 *ngIf="item && item.isCourse == false" (click)="eventDetails(item.id,item.date_from)">{{ item.name }} </h5>
                                        <div class="ticket-time">
                                            <span><strong>From:</strong> {{ item.date_from| date: "dd.MM.yy / HH:mm"}} O'clock</span>
                                            <span><Strong>To:</Strong> {{ item.date_from| date: "dd.MM.yy"}} / {{ item.date_to| date: "HH:mm"}} O'clock</span>
                                            <!-- <span><Strong>{{language.room.to}}:</Strong> {{ item.date_to| date: "dd.MM.yy / HH:mm"}} {{language.login.o_clock}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                </div>
            </div>
            <div class="empty-data-image" *ngIf="events && events.length == 0 && allCourses && allCourses.length == 0">
                <!-- <img src="assets/img/no-event-img.png" onContextMenu="return false;"
                    alt="{{ language.club_events.no_events }}" loading="lazy" /><br /> -->
                <span>No Events found</span>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="participateAccess.appointments == 'No'">
        <div class="event-content-area">
            <div class="not-available-user">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" id="IconChangeColor" height="50"
                    width="50">
                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M592
                        288H576V212.7c0-41.84-30.03-80.04-71.66-84.27C456.5
                        123.6 416 161.1 416 208V288h-16C373.6 288 352 309.6 352
                        336v128c0 26.4 21.6 48 48 48h192c26.4 0 48-21.6
                        48-48v-128C640 309.6 618.4 288 592 288zM496 432c-17.62
                        0-32-14.38-32-32s14.38-32 32-32s32 14.38 32 32S513.6 432
                        496 432zM528 288h-64V208c0-17.62 14.38-32 32-32s32 14.38
                        32 32V288zM224 256c70.7 0 128-57.31 128-128S294.7 0 224
                        0C153.3 0 96 57.31 96 128S153.3 256 224 256zM320
                        336c0-8.672 1.738-16.87 4.303-24.7C308.6 306.6 291.9 304
                        274.7 304H173.3C77.61 304 0 381.7 0 477.4C0 496.5 15.52
                        512 34.66 512h301.7C326.3 498.6 320 482.1 320 464V336z" id="mainIconPathAttribute" fill="blue">
                    </path>
                </svg>
                <h1>Feature Locked</h1>
                <span>This feature is not available with you. In order to use it please upgrade the plan or contact admin.</span>
            </div>
        </div>
    </div>
</div>
