<div class="container-fluid py-4">
    <!-- 4 CARDS STARTS-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" style="background-color: rgb(248, 221, 64);" [routerLink]="['/clubwall']">
                <div class="card-body p-3">
                    <div class="row">

                        <div class="col-4 text-start">
                            <div class="icon icon-shape text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">News/posts</p>
                                <h5 class="font-weight-bolder mb-0">
                                    0
                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" style="background-color: rgb(245, 65, 95);" [routerLink]="['/community']">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Messages/Chats</p>
                                <h5 class="font-weight-bolder mb-0">
                                    0
                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" style="background-color: rgb(245, 56, 42);" [routerLink]="['/organizer']">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Tasks/Events</p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-danger text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card" style="background-color: rgb(126, 124, 124);">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">My-Profile</p>
                                <h5 class="font-weight-bolder mb-0">
                                    0
                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4 CARDS ENDS -->


    <div class="row mt-4">
        <!-- CALENDER & EVENTS STARTS -->
        <div class="col-lg-8 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column h-100">
                                <!-- ALL COURSES CONTENT -->
                                <div class="container">
                                    <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
                                </div>

                                <div>
                                    <div class="date-navigation">
                                        <h2>{{ newDate | date:'fullDate' }}</h2>
                                        <div class="nav-buttons">
                                            <span (click)="goToPreviousDay()"><i class="arrow left"></i></span>
                                            <span (click)="goToNextDay()"><i class="arrow right"></i></span>
                                        </div>

                                    </div>
                                    <ng-container
                                        *ngIf="getEventsOnNewDate().length > 0 || getCoursesOnNewDate().length > 0">
                                        <ul>
                                            <li *ngFor="let event of getEventsOnNewDate()">
                                                <p style="color: red;">{{ getDisplayNameForType(event.type) }}</p>
                                                <h3>{{ event.name }}</h3>
                                                <p class="description" [innerHTML]="event.description"></p>

                                            </li>
                                            <li *ngFor="let course of getCoursesOnNewDate()">
                                                <p style="color: red;">{{ getDisplayNameForType(course.type) }}</p>
                                                <h3>{{ course.name }}</h3>
                                                <p class="description" [innerHTML]="course.description"></p>

                                            </li>
                                        </ul>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="getEventsOnNewDate().length === 0 && getCoursesOnNewDate().length === 0">
                                        <p>No events found</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <mat-card class="demo-inline-calendar-card">
                                    <mat-calendar [(selected)]="selected" (selectedChange)="onDateChange($event)">
                                    </mat-calendar>
                                </mat-card>

                                <div *ngIf="selected">
                                    <h2>{{ selected | date:'longDate' }}</h2>
                                    <ng-container
                                        *ngIf="getEventsOnSelectedDate().length > 0 || getCoursesOnSelectedDate().length > 0">
                                        <ul>
                                            <li *ngFor="let event of getEventsOnSelectedDate()">
                                                <h3>{{ event.name }}</h3>
                                            </li>
                                            <li *ngFor="let course of getCoursesOnSelectedDate()">
                                                <h3>{{ course.name }}</h3>
                                            </li>
                                        </ul>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="getEventsOnSelectedDate().length === 0 && getCoursesOnSelectedDate().length === 0">
                                        <p>No events found</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CALENDER & EVENTS ENDS -->

        <!-- CLUB APPOINTMENT STARTS -->
        <div class="col-lg-4">
            <div class="card h-100 p-3">
                <div class="overflow-hidden">
                    <!-- <h1>Club Appointment</h1>
                    <div class="eventsList">
                        <ul>
                            <li *ngFor="let item of eventDates" style="list-style: none;">
                                <div class="participants-info" (click)="navigateToEventDetails(item.id, item.date)">
                                    <div class="profile-pic">
                                        <a><img [src]="item.image" alt="Event/Course Image"
                                                style="width: 50px; height: 50px;"></a>
                                    </div>
                                    <div class="user-info">
                                        <p style="color: rgb(118, 121, 121);">{{ formatDate(item.date) }}</p>
                                        <h2 style="font-size: 14px;">{{ item.name }}</h2>
                                    </div>
                                </div>

                            </li>
                            <li *ngFor="let item of combinedDates">
                                <p style="color: rgb(118, 121, 121);">{{ item.date }}</p>
                                <h2 style="font-size: 16px;">{{ item.name }}</h2>
                            </li>
                        </ul>
                    </div> -->

                    <div class="col-md-3 appointment_widget">
                        <span *ngIf="allowAdvertisment == 0">
                            <app-club-appointments></app-club-appointments>
                        </span>
                        <span *ngIf="allowAdvertisment == 1">
                            <app-club-appointments ></app-club-appointments>
                        </span> 
                    </div>

                </div>
            </div>
        </div>
        <!-- CLUB APPOINTMENT ENDS -->

    </div>

    <div class="row mt-4">
        <!-- CURRENT CLUB NEWS STARTS -->
        <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <h1>Current Club-News</h1>

                        <div class="news-container">
                            <div class="card-wrapper">
                                <ng-container *ngFor="let data of clubNewsData">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                            <mat-card-title>{{data.title}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image [src]="data.imageUrls" alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                            <p class="text-truncate" [innerHTML]="data.text"></p>
                                        </mat-card-content>
                                    </mat-card>
                                </ng-container>
                            </div>
                        </div>
                        <div>
                            <button class="show-btn" [routerLink]="['/clubwall-news']">Show All</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- CURRENT CLUB NEWS ENDS -->
    </div>

</div>