/* .demo-inline-calendar-card {
    width: 300px;
  }
   */

.center-header {
	text-align: center;
}

.day {
	font-size: 18px;
	font-weight: bold;
}

.date {
	font-size: 16px;
}


.date-navigation {
	/* display: flex; */
	display: -webkit-box;
	align-items: center;
}

.nav-buttons {
	margin-left: 35px;
}


.arrow {
	border: solid rgb(8, 8, 8);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.eventsList {
	max-height: 500px;
	overflow-y: scroll;
}

.description {
	width: 250px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;

}

.example-card {
	max-width: 300px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

/* Add this to your component's CSS file or global styles */
.news-container {
	display: flex;
	/* Use flexbox to create a horizontal layout */
	justify-content: center;
	/* Optional: To center the cards horizontally */
}

.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	/* Allow cards to wrap to the next row if needed */
}

.example-card {
	width: 300px;
	margin: 10px;
}


.text-truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	/* Adjust width to match parent container */
}

.show-btn{
	margin-top: 50px;
    padding: 10px;
	color: white;
	background-color: rgb(241, 211, 40);
	border: solid  rgb(241, 211, 40);
	border-width: 0 3px 3px 0;
	font-size: 18px;
}

.participants-info {
    display: flex;
    align-items: center;
	cursor: pointer;
    /* margin-left: 150px; */
}

.profile-pic {
    max-width: 100%;
    /* height: 80%; */
    border-radius: 10%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    margin-right: 10px;
}
